body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #5e5e5e;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:hover{
	opacity:1;
	border-bottom-width:2px;
}
input{
    width:50%;
    display:block;
	height:30px;
	font-size:22px;
	color:black;
	background:none;
	border:none;
	outline:none;
	border-bottom:solid;
	opacity:.7;
	transition: all 0.3s ease-out;
}
button{
	top:1300px;
	height:40px;
	background:#f5fcff;
    margin:10px;
	font-style:Italic;
	border-radius:24px;
	color:black;
	width:200px;
	opacity:.8;
    outline:none;
    transition: all 0.3s ease-out;
}
button:hover{
    color:white;
    font-weight:bold;
    letter-spacing:10px;
    box-shadow:7px 7px 10px #888888;
    cursor:pointer;
}
p{
    font-size:20px;
}
p:hover{
    font-style:italic;
}
label{
    font-size:17px;
}
h2{
    font-size:30px;
}
h4{
    font-size:20px;
}
.red:hover{
    background:red;
}
.green:hover{
    background:green;
}
.yellow:hover{
    background:#C7A317;
}
.teal:hover{
    background:#008080;
}
.apple:hover{
    background:#C82536;
}
.other:hover{
    background:#153460;
}
nav{
    background:#EBECF0;
    height:40px;
    margin:0;
    padding:0
}
.scrhndl{
    position:absolute;
    top:22px;
    left: 50px;
    margin:0;
    padding:0;
    text-shadow:7px 7px 10px #888888;
}
.contain-student{
    transition: all 0.3s ease-out;
    width:90%;
}
.contain-student:hover{
    box-shadow:7px 7px 10px #888888;
	border-radius:10px;
}
.button-holder{
    position:absolute;
    left:20px;
}
#root{
    width:80%;
    height:100%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.react-confirm-alert{
    position:absolute;
    background:black;
    color:red;
    opacity:.8;
    top:0px;
    width:100%;
    height:100%;
    text-align:center;
}
.react-confirm-alert-body{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:white;
    width:50%;
    border-radius:20px;
}
.no-disp{
    opacity:0;
}
.disp{
    opacity:1;
}
.footer{
    background:black;
    color:white;
    margin-top:35px;
    text-align:right;
}
.footer div{
    margin:10px;
    font-size:20px;
}
#conpnl,#rgspnl,#store{
    transition: all 0.3s ease-out;
}
.control{
    opacity:0;
    height:0px;
}
.control-on{
    opacity:1;
    height:300px;
}
.control-rg{
    height:130px;
}
.controler{
    width:250px;
}
#edt{
    margin:75px;
}
@media only screen and (max-width: 880px){
    #edtnm{
        width:100%;
    }
}
@media only screen and (max-width: 780px){
    #edtnm{
        font-size:15px;
    }
    #edt label{
        font-size:12px;
    }
}
@media only screen and (max-width: 650px){
    #edt{
        margin:55px;
    }
}
@media only screen and (max-width: 570px){
    #edt{
        margin:35px;
    }
}
@media only screen and (max-width: 470px){
    #edt{
        margin:15px;
    }
}
@media only screen and (max-width: 440px){
    .adj{
        width:160px;
    }
}
@media only screen and (max-width: 359px){
    input{
        font-size:20px;
    }
    .scrhndl{
        left: 30px;
    }
    .adj{
        width:130px;
    }
}
@media only screen and (max-width: 325px){
    input{
        font-size:18px;
    }
    .scrhndl{
        left: 20px;
    }
}